In [4]:
#Load the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#Reading the file
data = pd.read_csv("NewspaperData.csv")
data

                         Newspaper     daily    sunday
0                    Baltimore Sun   391.952   488.506
1                     Boston Globe   516.981   798.298
2                    Boston Herald   355.628   235.084
3               Charlotte Observer   238.555   299.451
4                Chicago Sun Times   537.780   559.093
5                  Chicago Tribune   733.775  1133.249
6              Cincinnati Enquirer   198.832   348.744
7                      Denver Post   252.624   417.779
8              Des Moines Register   206.204   344.522
9                 Hartford Courant   231.177   323.084
10               Houston Chronicle   449.755   620.752
11                Kansas City Star   288.571   423.305
12         Los Angeles Daily  News   185.736   202.614
13               Los Angeles Times  1164.388  1531.527
14                    Miami Herald   444.581   553.479
15        Minneapolis Star Tribune   412.871   685.975
16      New Orleans Times-Picayune   272.280   324.241
17             New York Daily News   781.796   983.240
18                  New York Times  1209.225  1762.015
19                         Newsday   825.512   960.308
20              Omaha World Herald   223.748   284.611
21          Orange County Register   354.843   407.760
22           Philadelphia Inquirer   515.523   982.663
23                Pittsburgh Press   220.465   557.000
24              Portland Oregonian   337.672   440.923
25     Providence Journal-Bulletin   197.120   268.060
26  Rochester Democrat & Chronicle   133.239   262.048
27             Rocky Mountain News   374.009   432.502
28                  Sacramento Bee   273.844   338.355
29         San Francisco Chronicle   570.364   704.322
30         St. Louis Post-Dispatch   391.286   585.681
31          St. Paul Pioneer Press   201.860   267.781
32                   Tampa Tribune   321.626   408.343
33                 Washington Post   838.902  1165.567